.btn {
  padding: 4px 8px;
  height: 35px;
  margin: 5px 0px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #edc84b;
}

.btn:hover {
  background-color: #e4b211;
}

.form {
  margin-top: 3rem;
}

.message {
  margin-left: 1.4rem;
  margin-top: 1rem;
}
